h1{
  text-align: right;
  font-size: 10em;
  margin-top: 0px;
  padding-top: 0px;
  letter-spacing: 3px;
  position: fixed;
  top: 4px;
  left: 220px;
  color: black;
}
.TopThing{
  background-color: #47476b;
  height: 150px;
  z-index: -1;
}
.TopThing-hidden{
  visibility: hidden;
  height: 150px
}
.logo{
  height: 250px;
  width: 250px;
  position: fixed;
  top: -53px;
  left: 0;
  margin: 0px;
  padding: 0px;
  z-index: 0;
}
