h1, h2, h3, h4, h5, h6, p, li, html, body {
  font-family: 'PT Sans', sans-serif;
}
body{
  background-color: grey;
}
.container1{
  height: 400px;
  width: 100%;
  background-color: #47476b;
  box-shadow: 5px 10px;
  position: fixed;
  top: 300px;
}
.words{
  position: fixed;
  top: 360px;
  left: 750px;
  width: 600px;
  color: black;
}
.container2{

}

.bigTitle {
  font-weight: bold;
  text-align: right;
  font-size: 10em;
  margin-top: 0px;
  padding-top: 0px;
  letter-spacing: 3px;
  position: fixed;
  top: -10px;
  left: 220px;
  color: black;
  z-index: 5;
}
.TopThing {
  background-color: #47476b;
  height: 150px;
  z-index: -1;
}
.TopThing-hidden {
  visibility: hidden;
  height: 150px
}
.logo {
  height: 240px;
  width: 240px;
  position: fixed;
  top: -42px;
  left: 0;
  margin: 0px;
  padding: 0px;
  z-index: 0;
}


.navbar {
  margin-bottom: 50px;
  border-radius: 0;
}



.jumbotron {
  margin-bottom: 0;
}



footer {
  background-color: #f2f2f2;
  padding: 25px;
}
.topnav {
    background-color: #d9d9d9;
    overflow: hidden;
}


.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position: relative;
    font-size: 17px;
    z-index: 1;
}


.topnav a:hover {
    background-color: black;
    color: white;
    z-index: 1;
}


.active {
    background-color: #47476b;
    color: white;
    z-index: 1;
}


.topnav .icon {
    display: none;
    z-index: 1;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar {
  background-color: #d9d9d9;
  margin-bottom: 0px
}

.rectangle {
  height: 10px;
  width: 100%;
  background-color: #555;
  margin-bottom:15px;
}

.btn-lg {
  border-radius: 0px;
  position: fixed;
  top: 212px;
  left: 0;
}



a:hover{
	color: white;
}
a:link{
	color:rgb(71, 159, 247);
}
a:visited{
	color:rgb(71, 159, 247);
}
a:active{
	color:white;
}

.sidenav {
    display: none;
    height: 772px;
    width: 300px;
    position: fixed;
    z-index: 1;
    left: 0;
    bottom: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
* {box-sizing:border-box}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


.mySlides {
    display: none;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.Austin{
  position: fixed;
  top: 150px;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
.form-group{
  padding-top: 20px;
}
.row{
  padding-top: 20px;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (max-width: 767px){
  .bigTitle{
    font-size: 5em;
  }

}
@media only screen and (max-width: 479px){
  .bigTitle{
    display: none;
  }
  .logo{
    position: fixed;
    top: -42px;
    left: 70px;

  }
}
